<!doctype html>
<html>
  <head>
    <title>Trần Tấn Thành - 17101691</title>
  </head>
  <body>
    <div style="border-radius: 10px 10px 10px 10px;color: darkblue;background-color: lightblue;text-align: center;margin-top: 10px;margin-left: 2%;margin-right: 2%;width: 96%;float: left;">
      <h2>Thank you for your feedback!</h2>
      <div id='button' style="padding-top: 20px;padding-bottom: 20px;">
        <form action="/">
          <input type=submit value='Submit another sentence' style="border-radius: 5px 5px 5px 5px; width: 200px;height: 30px;text-align: center;font-size: 18px;background-color: green;color: yellow;">
        </form>
      </div>
    </div>
  </div>
  <div style="border-radius: 10px 10px 10px 10px;color: darkblue;background-color: lightblue;text-align: center;margin-top: 10px;margin-left: 2%;margin-right: 2%;width: 96%;float: left;">
    <h1 style="text-align: center;">Trần Tấn Thành - 17101691</h1>
  </div>
  </body>
</html>